$_divoluci-primary-alt: #2cdcd0;

$_divoluci-primary-1: #82ceec;
$_divoluci-primary-2: #81ceec;
$_divoluci-primary-3: #038cba;
$_divoluci-primary-4: #007095;

$_divoluci-purple: #8254ff;
$_divoluci-orange: #e88b72;

$_divoluci-light-white: #ebf8fd;
$_divoluci-light-pink: #f1ecff;

$_divoluci-grey-1: #d8e1e9;
$_divoluci-grey-2: #999b9f;
$_divoluci-grey-3: #a4adb6;
$_divoluci-grey-4: #a8abb2;
$_divoluci-grey-5: #96a5b7;
$_divoluci-grey-6: #566474;
$_divoluci-grey-7: #253241;

$_divoluci-grey-5-alt-red: #9f9999;